<h2>Video One</h2>

<p>For the next few minutes, you will watch a video from the perspective of a student learning a new skill.</p> 

<p>Imagine you now live in France, and today is your first day of class in your new language school.</p>

<p>When you are ready, begin the video and participate as best you can for the video’s duration.</p>

<p>Are you ready? Let’s begin! Start the video by following the link below.</p>

<div class="margin-top-15 text-center padding-15">
  <iframe src="https://player.vimeo.com/video/410864725" width="640" height="361" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <p><a href="https://vimeo.com/410864725">Teaching With Empathy Lesson Two: Perspective Taking, Video #1</a> from <a href="https://vimeo.com/user113598083">Maureen Carapia</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<p class="margin-top-15">When finished with the video, <a routerLink="/sectionTwoVideoTwo" routerLinkActive="active">proceed to the next page.</a></p>