<h2>Wrap Up</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson3_studentsonestanding.jpeg" alt="">
</div>

<p class="margin-top-20">We hope that this lesson has effectively defined the term intercultural sensitivity, and related the term 
to empathy in a way that inspires you to be more aware of the cultural norms of your own classroom, and more
empathic of your own students.</p> 

<p>Take a look back at your initial responses to the first questions. After having completed this lesson, have 
these responses changed at all? If so, which parts and aspects of the answers would you change?</p>

<br>
<div class="row">
  <div class="col-sm-12 col-md-8">
    <label class="" for="sectionTwoWrapOne"><em>What do you hope to gain from this lesson related to intercultural sensitivity? What have you learned from this lesson?</em></label>
    <textarea name="" id="sectionTwoWrapOne" rows="4"></textarea>
    <label class="margin-top-15" for="sectionTwoWrapTwo"><em>In your own words, what is intercultural sensitivity?</em></label>
    <textarea name="" id="sectionTwoWrapTwo" rows="4"></textarea>
    <label class="margin-top-15" for="sectionTwoWrapFour"><em>How does intercultural sensitivity relate to empathy?</em></label>
    <textarea name="" id="sectionTwoWrapFour" rows="4"></textarea>  
  </div>
</div>
