<h2>References</h2>

<p class="margin-top-20"><strong>To cite this lesson, please use the following:</strong><p>

<p>Carapia, Maureen. (2020). Lesson two: Empathy through perspective taking. [website]</p>

<p>Bennett, M. J. (2013). Basic concepts of intercultural communication: Paradigms, 
principles, & practices (2nd Edition). Intercultural Press.</p>

<p>de Oliveira, L. (2011). In their shoes: Teachers experience the needs of English 
     language learners through a math simulation. Multicultural Education, 19(1); 
     59-62.</p>

<p>Epley, N., & Caruso, E. (2008). Perspective taking: Misstepping into others’ 
     shoes. In K. Markman, W. Klein, & J. Suhr (Eds.), The Handbook of 
     imagination and mental simulation (pp. 297-311). Psychology Press.</p>

<p>Krashen, S. D. (1982). Principles and practice in second language acquisition 
     [eBook edition]. Pergamon Press. 
     <a href="http://www.sdkrashen.com/content/books/principles_and_practice" target="_blank">http://www.sdkrashen.com/content/books/principles_and_practice</a></p>

<p>Warren, C.A. (2014). Towards a pedagogy for the application of empathy in 
     culturally diverse classrooms. The Urban Review, 46 (3), 395-419. 
     <a href="https://doi.org/10.1007/s11256-013-0262-5" target="_blank">https://doi.org/10.1007/s11256-013-0262-5</a></p>

<p>Washburn, G. (2008). Alone, confused, and frustrated: Developing empathy and 
     strategies for working with English language learners. The Clearing House: A 
Journal of Educational Strategies, Issues and Ideas, 81 (6), 247-250. 
<a href="https://doi.org/10.3200/TCHS.81.6.247-250" target="_blank">https://doi.org/10.3200/TCHS.81.6.247-250</a></p> 

<p>Zhang, J. & Pelttari, C. (2014). Exploring the emotions and needs of English 
     language learners: Facilitating pre-service and in-service teachers’ recognition 
     of the tasks facing language learners. Journal of Multilingual and Multicultural 
     Development, 35(2), 179-194. 
     <a href="https://doi.org/10.1080/01434632.2013.822505" target="_blank">https://doi.org/10.1080/01434632.2013.822505</a></p> 

<p>Zhang, Y. (2017). Walking a mile in their shoes: Developing pre-service music 
     teachers’ empathy for ELL students. International Journal of Music Education, 
     35 (3), 425-434. <a href="https://doi.org/10.1177/0255761416647191" target="_blank">https://doi.org/10.1177/0255761416647191</a></p>

<a class="inline-block margin-top-15" routerLink="/sectionTwoWrapUp" routerLinkActive="active">Proceed to the next section.</a>
