
  
<h2>Video Debrief</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson2_manwomancomputer.jpeg" alt="">
</div>

<p class="margin-top-20">
  Now, take a moment to share your thoughts on this activity, and specifically, how you felt during 
  these two lessons.
</p>

<div class="row margin-top-15">
  <div class="col-sm-5 no-padding-right">
    <div class="text-center border-grey fill-light-grey padding-5"><h4>Lesson One</h4></div>
    <div class="padding-10 border-grey">
      <p>What adjectives would you use to describe this lesson</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="padding-10 border-grey">
        <p>What were some of the feelings you experienced during this lesson?</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>
    <div class="padding-10 border-grey">
          <p>What methods did the teacher use to teach the material in Lesson One?</p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
    </div>
  </div>
  <div class="col-sm-5 no-padding-left">
    <div class="text-center border-grey fill-light-grey padding-5"><h4>Lesson 2</h4></div>
    <div class="padding-10 border-grey">
        <p>What adjectives would you use to describe this lesson</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="padding-10 border-grey">
          <p>What were some of the feelings you experienced during this lesson?</p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
      </div>
      <div class="padding-10 border-grey">
            <p>What methods did the teacher use to teach the material in Lesson One?</p>
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
      </div>
  </div>
  <div class="col-sm-10">
      <div class="padding-10 border-grey">
          <p>What were the biggest differences between Lesson One and Lesson Two? What set them apart from each other?</p>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
  </div>
</div>
<br>
<em class="inline-block margin-top-20">How does perspective taking relate to empathy?</em>

<p class="margin-top-15">You just finished a language activity in two versions: Lesson One and Lesson Two. This activity is known as 
“language shock,” in which participants receive instruction in a language completely foreign to them.</p> 

<p>We discussed how you felt during these activities, what the main differences were between the two, and how they
might relate to your own classroom. One question remains: how does this relate to empathy?</p>

<p>Before answering this question, let’s revisit your experience in the “language shock” activity. How did you 
describe your feelings for Lesson One? Was one of those adjectives, “Stressed”? “Anxious”? “Overwhelmed”?</p> 

<p>If so, this is normal! In Lesson One, the teacher spoke in the foreign language at a normal, fluent pace. The 
teacher expressed annoyance in some part of the lesson. This was intended to increase your stress level as a student.</p>

<p>Is there are relationship between stress and learning a new language? If so, what?</p>

<p>There is a theory that does claim student stress increases the obstacles to learning in a classroom environment.
Dr. Stephen Krashen, a second-language acquisition researcher, called this theory the Affective Filter Hypothesis.</p> 

<p>The affective filter serves as a barrier to learning new input. If a student has high motivation, high 
self-confidence, and low anxiety, they have an optimal attitude for second language acquisition and a low
 barrier to learning, or low “affective filter.” Conversely, a student with high anxiety and low 
 self-confidence will be less open to language input, and likely less successful in the classroom.</p> 

<p>This is especially the case for adult learners, as Krashen hypothesizes that the affective filter strengthens
 as one enters adolescence. For this reason, it is important to strategize the best ways to create a welcoming 
 classroom environment for your students.</p>

<p>The language shock activity is meant to evoke various feelings and views as you experience it. In short, the 
activity engages you in perspective taking, or seeing and living the experience of a language student. The
 intention of <strong>perspective taking</strong> is not just to gain a different perspective, but also to create an 
 alternative experience. This activity was intended to simulate the experience of an ELL in your own ESL classroom.</p> 

<p>Perspective taking occurs in order to improve your empathy toward another—that is, participating in the 
experience of another cognitively (knowing how they feel) and emotionally (feeling how they feel). Ideally, 
the end result generates a feeling of compassion toward the other person.</p> 

<p>While the act of perspective taking alone does not always produce positive results, and can vary in success
 from one person to another, it aligns most closely with an other-oriented viewpoint, and is most promising
  for generating compassion and acts of altruism.</p> 

<p>Research shows that perspective taking proves effective, in taking teachers out of their mindsets and revisiting 
preconceived notions about their students. Without perspective taking, teachers often base their perceptions of 
student needs on mostly assumptions or misconceptions. Perspective taking is necessary for these teachers in
 order to generate true empathic concern, and more effectively respond to diversity in the classroom.</p>

<p class="margin-top-20"><em>What are some concrete teaching methods that are effective to teaching ELLs?</em></p>

<p>Based on your reflection on the two lessons, you probably noticed some big differences in teaching strategies.</p> 

<p>Effective teaching methods reflect a student-centered approach to instruction, which describes teaching from a 
student’s perspective. By definition, this relates to perspective taking, which connects directly to empathy 
in your classroom.</p> 

<p>Lesson Two provided ESL strategies such as:</p>
<ul>
  <li>varied instruction</li>
  <li>repetition of key points</li>
  <li>chunking the material into smaller sections, giving directions in steps</li>
  <li>checking for understanding</li>
  <li>pauses</li>
  <li>modeling</li>
  <li>use of multiple skills</li>
  <li>visual aids and realia</li>
  <li>nonverbal communication.</li>
</ul>

<a class="inline-block margin-top-15" routerLink="/sectionTwoReferences" routerLinkActive="active">Proceed to the next page.</a>
