<h2 class="text-center">Final Thoughts:</h2>
<h3 class="text-center margin-top-10">Creating a Culture of Empathy in Your School</h3>

<p class="margin-top-20">This training series has demonstrated the importance of empathy in the ESL classroom, and provided a number of
strategies to empathize with, and achieve intercultural sensitivity toward, diverse students.</p> 

<p>But does this program achieve <strong>long-term</strong> empathy among instructors? The answer is no. </p>

<p>This training program is <strong>not</strong> intended as a standalone series without reinforcement. Rather, this series is
best when it is placed in a greater context of a school-wide pedagogy tied to empathy and intercultural competence 
as its core tenets of instruction. Without that greater commitment to empathy, these trainings will not promote 
empathy in ESL classrooms on a longer-term basis.</p>

<p>To that end, please see below for a list of suggestions to encourage empathy and intercultural sensitivity across 
all levels of instruction in your school, program or district. </p>

