<h2 class="text-center">Final Thoughts:</h2>
<h3 class="text-center margin-top-10">Creating a Culture of Empathy in Your School</h3>

<p class="margin-top-20">This training series has demonstrated the importance of empathy in the ESL classroom, and provided a number of
strategies to empathize with, and achieve intercultural sensitivity toward, diverse students.</p> 

<p>But does this program achieve <strong>long-term</strong> empathy among instructors? The answer is no. </p>

<p>This training program is <strong>not</strong> intended as a standalone series without reinforcement. Rather, this series is
best when it is placed in a greater context of a school-wide pedagogy tied to empathy and intercultural competence 
as its core tenets of instruction. Without that greater commitment to empathy, these trainings will not promote 
empathy in ESL classrooms on a longer-term basis.</p>

<p>To that end, please see below for a list of suggestions to encourage empathy and intercultural sensitivity across 
all levels of instruction in your school, program or district. </p>

<h3 class="text-center margin-top-20">Creating a Culture of Empathy in Your School</h3>

<div class="container-fluid margin-top-20">
  <div class="row aligned-row">
    <div class="col-md-6 final-thoughts-one">
      <h5 class="text-center">MODEL EMPATHY YOURSELF</h5>
      <ul>
        <li>When confronting a school-wide issue or a teacher-student concern, look at the situation from
          all perspectives before responding.</li>
        <li>Be aware of an employee’s/student’s non-verbal cues and follow up on them in an objective way</li>
        <li>Ask for input from staff and students, and participate in active listening. Find ways to
          incorporate their feedback.</li>
        <li>During meetings, create ways to practice perspective taking and active listening with staff. 
          Do role plays, use case studies, and/or play charades.</li>
      </ul>
    </div>
    <div class="col-md-6 final-thoughts-two">
      <H5 class="text-center">MAKE IT OFFICIAL</H5>
      <ul>
        <li>Ensure empathy is reflected in your mission statement and long-term strategic plan</li>
        <li>Engage teachers and students in the process of creating school-wide policies and procedures, 
          and hold each other accountable to them</li>
        <li>Deliver this training series to all teachers and staff across your school. This will allow
          all employees to come to understand empathy much more than before</li>
      </ul>
    </div>
  </div>
  <div class="row aligned-row">
    <div class="col-md-6 final-thoughts-three">
      <H5 class="text-center">CREATE A PROGRAM</H5>
      <ul>
        <li>Organize an optional study-abroad program for teachers and staff as part of professional development, 
          in which the participants take courses in a foreign-language environment. Study-abroad experiences are 
          shown to increase empathy toward ELLs </li>
        <li>Implement a service-learning component into your professional development series for teachers and staff.
           Research has linked service learning to efficacy in working with ELLs</li>
      </ul>
    </div>
    <div class="col-md-6 final-thoughts-four">
      <H5 class="text-center">FOLLOW THE NUMBERS</H5>
      <ul>
        <li>Collect data from students and staff members on a regular basis on to what extent they feel supported 
          and respected in the program</li>
        <li>Follow up on the collected data and address any identified problems.</li>
      </ul>
    </div>
  </div>
</div>
