<h2>Introduction</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson2_coloredpencils.jpeg" alt="">
</div>

<p class="margin-top-20">In Lesson One, we learned about the concept of empathy and how it relates to your role as an ESL 
instructor. We acknowledged the concept as multifaceted and, oftentimes, described in various ways.</p> 

<p>The many definitions of empathy can be grouped into three categories. Do you recall which?</p>
 
<ol>
  <li class="margin-top-15">
    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Cognitive">
      Click for Answer
    </button>
    : ability to know how another person thinks and feels, or their internal state. 
    Can be achieved through a number of strategies such as perspective taking (placing yourself in 
    the perspective of another person) and active listening.
  </li>
  <li class="margin-top-15">
    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Emotional">
      Click for Answer
    </button>
    : also known as “affective,” the ability to feel how another person feels. 
    Can also be achieved through perspective taking and active listening.
  </li>
  <li class="margin-top-15">
    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Compassionate">
      Click for Answer
    </button>
    : takes a step beyond knowing and sharing, and moves a person to actually
    act upon their understanding of another’s thoughts and feelings.
  </li>
</ol>
	

<p class="margin-top-15">Ultimately, the lesson ended by defining empathy as <strong>the ability to participate in the experience of another</strong>, 
both cognitively and emotionally. Moreover, participants understood the connection of empathy to self-awareness, 
and how to be empathetic as a person and an effective ESL instructor.</p>

<p>This second module further explores the concept of empathy, and specifically, one way to improve one’s empathy as
an ever-developing skill. The module will focus on gaining empathy through perspective taking, or experiencing a
situation in another person’s shoes.</p>

<a class="inline-block margin-top-15" routerLink="/sectionTwoThoughts" routerLinkActive="active">Proceed to the next section.</a>

<div id="introTwoModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          <h3 class="modal-title text-center">Lesson 2: Empathy Through Perspective Taking</h3>
         
        </div>
        <div class="modal-body">
          <p>This module continues to examine empathy toward English Language Learners
              by way of perspective taking, or, understanding an experience from the student’s
              point of view. Participants are placed in the position of an ELL, and gain a better
              understanding of the typical challenges a student may face. (Estimated
              completion time: 1 hour)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>