<h2>Introduction</h2>

<p class="margin-top-20">The previous lessons defined empathy as a concept, discussed how empathy might look in your classrooms, and
presented an activity that simulated a foreign language classroom from the perspective of the student. As a
quick recap, do you recall the three categories of empathy?</p>

<ol>
  <li><strong class="red">(Cognitive)</strong>
    : ability to know how another person thinks and feels, or their internal state. Can be achieved through a
     number of strategies such as perspective taking (placing yourself in the perspective of another person) and
      active listening.</li>
  <li><strong class="red">(Emotional)</strong>
    : also known as “affective,” the ability to feel how another person feels. Can also be achieved through 
    perspective taking and active listening.</li>
  <li><strong class="red">(Compassionate)</strong>
    : takes a step beyond knowing and sharing, and moves a person to actually act upon their understanding of 
    another’s thoughts and feelings.</li>
</ol>

<p>Do you recall the definition of empathy?</p>

<p>Empathy can be described as <strong>the ability to <u class="red">participate</u> in the experience of
   another</strong>, both <u class="red">cognitively</u> and <u class="red">emotionally</u>.</p>

<p>The previous lesson presented an activity placed you into the mindset of a student learning a new language. 
What was the name of this practice, used to further improve empathy? <u class="red">Perspective taking</u>.</p>

<p>This lesson will relate more specifically to cultural differences, and how they might look in real life; the 
  relationship between empathy and intercultural sensitivity; and how empathy plays a critical role in approaching
  those differences.</p> 

<a class="inline-block margin-top-15" routerLink="/sectionThreeThoughts" routerLinkActive="active">Please proceed to the next section.</a>

<div id="introThreeModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          <h3 class="modal-title text-center">Lesson 3: Empathy Through Culture Interactions</h3>
         
        </div>
        <div class="modal-body">
          <p>This module places empathy into the context of cross-cultural communication,
              and intercultural sensitivity. Participants will observe and describe behaviors of
              different cultures, and detail how their cultural values influence how they view
              other groups while participating in a cultural simulation activity. (Estimated
              completion time: 1 hour)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>