<h2>Perspective and Resources</h2>

<p class="margin-top-20"><em>What does it mean to be ethnocentric, and ethnorelative?</em></p>

<p>This final lesson combines all material learned in the previous lessons, and continues to detail how to teach with 
empathy and intercultural sensitivity. In order to do that, it is worth restating that these are skills and, just 
like anything else, they are developed as part of a process. This lesson will elaborate on what that process looks like.</p>  

<p>According to a 2016 study by the U.S. Department of Education, students of color are projected to comprise 56 
  percent of the K-12 student population, while most public school teachers and principals are white. While statistics
  on the adult ESL population are less widely available—and not every ESL teacher is white, nor is every ESL student
  a person of color—it is likely that you come from different communities and experiences than many of your students. 
  For this reason, empathy and intercultural competence are so important to demonstrate in your classrooms.</p>

<p>This lesson will follow the previous modules by drawing upon the work of Dr. Milton Bennett, intercultural
communication expert and researcher. Dr. Bennett created a scale on which to gauge one’s level of intercultural
sensitivity: the Developmental Model of Intercultural Sensitivity (DMIS).</p>

<a href="" routerLink="/sectionFourDMIS" routerLinkActive="active">Please proceed to the next section.</a>
