<h2>Wrap Up</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson2_studentholdingbooks.jpeg" alt="">
</div>

<p>We hope that this lesson has demonstrated perspective taking in a more concrete way, and proved its
importance to you as an empathic, ever-improving teacher of diverse students. </p>

<p>Take a look back at your initial responses to the first questions. After having completed this lesson, 
have these responses changed at all? If so, which parts and aspects of the answers would you change?</p>
<br>
<div class="row">
    <div class="col-sm-12 col-md-8">
  
      <label class="" for="sectionTwoWrapOne"><em>What do you hope to gain from this lesson related to perspective taking? What have you learned from this lesson? </em></label>
      <textarea name="" id="sectionTwoWrapOne" rows="4"></textarea>
      
      <label class="margin-top-15" for="sectionTwoWrapTwo"><em>To what extent are you empathic toward your students?</em></label>
      <textarea name="" id="sectionTwoWrapTwo" rows="4"></textarea>
      
      <label class="margin-top-15" for="sectionTwoWrapThree"><em>How does perspective taking relate to empathy?</em></label>
      <textarea name="" id="sectionTwoWrapThree" rows="4"></textarea>
      
      <label class="margin-top-15" for="sectionTwoWrapFour"><em>In your opinion, what are some concrete teaching methods that are effective to teaching ELLs?</em></label>
      <textarea name="" id="sectionTwoWrapFour" rows="4"></textarea>
      
    </div>
  </div>