<h2>Introduction</h2>

<p class="margin-top-20">We now come to the final lesson in this series on empathy. The previous lessons defined empathy, took
the perspective of a student in a classroom, and simulated a cultural interaction to learn more about 
how empathy relates to intercultural communication. The lessons demonstrated ways to develop empathy 
as a skill, and made the connection between empathy and intercultural sensitivity. Let’s begin with a
recap of these lessons. </p>

<p>Empathy can be defined in three categories: <strong class="red"><u>cognitive</u></strong>, <strong class="red"><u>emotional</u></strong>, and <strong class="red"><u>compassionate</u></strong>.</p>

<p>Empathy can be defined as <strong>the ability to <u class="red">participate</u> in the experience of another</strong>, both <span class="red"><u>cognitively</u></span> and <span class="red"><u>emotionally</u></span>.</p>

<p>One way to improve empathy is through <u class="red">perspective taking</u>, in which you place yourself in the mindset of another person. </p> 

<p>Empathy is also related to <u class="red">intercultural sensitivity</u>, which is the ability to distinguish cultural 
differences and experience them in cross-cultural communication.</p>

<p>This lesson will finalize our series on empathy with a model of intercultural sensitivity, which places
empathy on a scale as part of a continual process. </p>

<p>When you are ready, <a routerLink="/sectionFourThoughts" routerLinkActive="active">please proceed to the next section.</a></p>

<div id="introFourModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          <h3 class="modal-title text-center">Lesson 4: Empathy Through Ethnorelativism</h3>
         
        </div>
        <div class="modal-body">
          <p>The final module in this series on empathy will describe the concepts of
              ethnocentric and ethnorelative views, and how they connect back to empathy.
              Participants will distinguish the differences between ethnocentric and
              ethnorelative statements and viewpoints, and discuss how they may impact a
              classroom while participating in a matching activity. (Estimated completion time:
              1 hour)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>