<h2>Video Two</h2>

<p class="margin-top-20">Now, you will watch another video from the perspective of a student learning a new skill.</p> 

<p>Imagine you are still in France, and today is your first day of class in your new language school. 
This is another version of the first day of class, learning the same material as the previous video.</p>

<p>When you are ready, begin the video and participate as best you can for the video’s duration.</p>

<p>Are you ready? Start the video by following the link below.</p>

<div class="margin-top-15 text-center padding-15">
  <iframe src="https://player.vimeo.com/video/3873878" 
    width="640" 
    height="480" 
    webkitallowfullscreen 
    mozallowfullscreen 
    allowfullscreen></iframe>
</div>

<p class="margin-top-15">When finished with the video, <a routerLink="/sectionTwoVideoDebrief" routerLinkActive="active">proceed to the next page.</a></p>

