<h2>DMIS and Empathy</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson4_handsholding.jpeg" alt="">
</div>

<p class="margin-top-20"><em>What does this have to do with empathy?</em></p>

<p>The DMIS moves from a shallow, simplified experience of cultural difference to one that is more complex and 
sophisticated. In order to move into that more complex space, empathy plays an intentional role when communicating.</p>

<p>According to researcher Bennett, <strong>any</strong> default or unconscious level of communication is generally ethnocentric. 
Empathy, then, must be a conscious act. In order to successfully interact with other cultures, a person
must pay conscious attention to their actions and hone the technique of intercultural communication, as 
they should any other skill. </p>

<p>Moreover, intercultural communication cannot begin from a place of similarities. Cultures experience reality 
differently and, thus, a person using their own perceptions as a guide for another’s perspective will not succeed. 
Therefore, an individual must approach a cultural difference with a <strong>differences-based</strong> mindset. </p>

<p>This other-oriented stance aligns most closely with perspective taking and empathy. It requires an ethnorelative 
viewpoint—regarding another culture as relative, rather than worse or unnatural—in order to truly understand another 
and thus achieve intercultural sensitivity and intercultural competence.</p>

<p>Hopefully these ideas about culture and empathy will assist you in moving toward an other-oriented mindset, 
and an ethnorelative view of your students and their individual needs.</p>

<a class="inline-block margin-top-15"  routerLink="/sectionFourReferences" routerLinkActive="active">Please proceed to the next page.</a>
