<h2>Factors of Empathy</h2>

<p>The many definitions of empathy can be grouped into one of three categories:</p>

<img src="" alt="factors of empathy">

<div>
<h4>1. Cognitive:</h4>
<p>First, empathy can be defined from a cognitive side. Empathy can be considered
knowledge, an understanding of how another person thinks and how another
person feels. Cognitive empathy is the ability to know another person’s internal
state.
This type of empathy helps us communicate better. If you know how someone
wants to receive information, you can provide that information in the way they
prefer.
Finally, cognitive empathy can be achieved through a number of strategies such
as perspective taking (placing yourself in the perspective of another person) and
active listening.</p>
<div>

<div class="margin-top-20">
<h4>2. Emotional:</h4>
<p>Secondly, empathy can be defined as emotional, also known as “affective.” While
cognitive empathy is more about thinking how another thinks, emotional empathy
is about feeling the way another feels. With this type of empathy, you share the
feelings of another person. As former President Clinton once said, “I feel your
pain.” That is the definition of emotional empathy. This type of empathy helps us
emotionally connect to another person. Like cognitive empathy, it can be
achieved through perspective taking or active listening.</p>
</div>

<div class="margin-top-20">
<h4>3. Compassionate:</h4>
<p>“Finally, empathy can be described as compassion. This is empathy that goes
beyond understanding others and feeling how they feel. It moves a person to
actually act upon their understanding of another’s thoughts and feelings. This is
an act of helping that is informed by how the person most wants to be treated.</p>

<p>Researcher Milton Bennett, an intercultural specialist, called this phenomenon
the <strong>platinum</strong> rule.</p>

<p>Why the platinum rule?</p>

<p>You are likely most familiar with the golden rule: treat others how you want to be
treated.</p>

<p>But based on what you know about empathy, do you think this rule demonstrates
empathy? Unfortunately, no. In fact, the golden rule focuses more on your own
perspective, rather than the perspective of another. For this reason, it is not as
empathic a rule as it could be.</p>

<p>While the golden rule focuses more on your own views and beliefs, the <strong>platinum</strong>
rule can be described as treating others how they want to be treated. This is
intended to be an empathic act, and related to the compassionate side of
empathy.</p>

<p>Taking all this into consideration, it is clear that empathy is a complex concept
that requires an exact definition. Therefore, this lesson defines empathy as <strong><u>the
ability to participate in the experience of another</u></strong>, both cognitively and
emotionally.</p>
</div>

<a class="margin-top-15 inline-block" href="" routerLink="/sectionOneEmpathyClass" routerLinkActive="active">Proceed to the next page</a>
