<h2>Perspective and Resources</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson2_perspectivelens.jpeg" alt="">
</div>

<em class="inline-block margin-top-20">To what extent are you empathic toward your students?</em> 

<p class="margin-top-15">The previous lesson allowed you the opportunity to delve more into the definition of empathy, as well as how
the concept relates to you. Specifically, the lesson asked you to quiz yourself on your own level of empathy, 
and reflect on ways to further develop this important skill.</p>

<p>This lesson hones in on the role of empathy in your ESL classroom. When you think about empathy toward your students, 
what does that look like to you?</p>

<p>One way to think about it relates to sensitivity toward different cultural norms. Dr. Milton Bennett, considered 
the premier scholar of intercultural communication, asserted in his research that empathy means nothing without 
context. Additionally, empathy without context does not produce the constructs most beneficial to intercultural 
sensitivity. Indeed, individuals need to change the way they organize their own lived experience in order to
express empathy, and intercultural sensitivity.</p>

<p>In an ESL classroom, this means seeing the world not just from your own experience, but also from the experience
of your students. Stepping into the mindset of the student is a demonstration of <strong>perspective taking</strong>. Perspective
taking is an attempt to participate in the experience of another, and an important way to gain empathy as a
teacher toward your students.</p>

<p>For the next few minutes, you will participate in an activity that will exemplify this very concept 
of perspective taking.</p> 

<a class="inline-block margin-top-15"  routerLink="/sectionTwoVideoOne" routerLinkActive="active">Proceed to the next page to begin.</a>
