<h2>Initial Thoughts</h2>

<p>To begin, take a moment to answer these questions in your own words.</p>
<br>

<div class="row">
  <div class="col-sm-12 col-md-8">

    <label class="" for="field1"><em>What do you hope to gain from this lesson related to empathy?</em></label>
    <textarea name="" id="field1" rows="4"></textarea>
    
    <label class="margin-top-15" for="field2"><em>What exactly is empathy?</em></label>
    <textarea name="" id="field2" rows="4"></textarea>
    
    <label class="margin-top-15" for="field3"><em>Is empathy a trait or a skill?</em></label>
    <textarea name="" id="field3" rows="4"></textarea>
    
    <label class="margin-top-15" for="field4"><em>How does empathy relate to my classroom?</em></label>
    <textarea name="" id="field4" rows="4"></textarea>
    
    <label class="margin-top-15" for="field5"><em>How empathic am I, and how can I increase my empathy?</em></label>
    <textarea name="" id="field5" rows="4"></textarea>

  </div>
</div>

<p class="margin-top-15">When finished <a href="" routerLink="/sectionOnePerspectives" routerLinkActive="active">proceed to the next section.</a></p>
