<h2>Empathy Quiz</h2>

<em class="inline-block margin-top-20">How empathic am I, and how can I increase my empathy?</em>

<p class="margin-top-15">We’ve discussed the definition of empathy as both a trait and a skill, and related
the concept to your ELL classroom. Most of us in the education profession think
we have a great deal of empathy. This might be part of what attracted you to the
profession in the first place.</p>

<p>But how empathic are you? Let’s take a short quiz and find out.</p>

<p>Take the empathy quiz on Greater Good Center website. The quiz defines
empathy as the ability to sense others’ emotions (emotional empathy), as well as
the ability to imagine what another is thinking and feeling (cognitive empathy). It
consists of approximately 29 questions, and draws from three separate,
scientifically validated scales for measuring empathy. It should take 5-10 minutes
to complete.</p>

<p>Follow this link to take the quiz.</p>
<a href="https://greatergood.berkeley.edu/quizzes/take_quiz/empathy." target="_blank">https://greatergood.berkeley.edu/quizzes/take_quiz/empathy.</a>

<p class="margin-top-15">When finished with the quiz, click on the button below to display some thought-provoking questions.</p>

<div class="margin-top-15">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#sectionOneQuizQuestions">Click to display the questions</button>
      <div id="sectionOneQuizQuestions" class="collapse margin-top-15">
          <div class="row">
            <div class="col-sm-12 col-md-8 margin-top-15">
            
              <label class="" for="field1"><em>What thoughts went through your mind as you went through this quiz?</em></label>
              <textarea name="" id="field1" rows="4"></textarea>
                
              <label class="margin-top-15" for="field2"><em>Do you feel your score is an accurate depiction of your level of empathy? Why or
                  why not?</em></label>
              <textarea name="" id="field2" rows="4"></textarea>
                
              <label class="margin-top-15" for="field3"><em>In your opinion, are there any benefits to taking this quiz? Which?</em></label>
              <textarea name="" id="field3" rows="4"></textarea>
                
              <label class="margin-top-15" for="field4"><em>In your opinion, are there any <strong>disadvantages</strong> to taking this quiz? Which?</em></label>
              <textarea name="" id="field4" rows="4"></textarea>
                
              <label class="margin-top-15" for="field5"><em>As you can see, this quiz relies on self-reported information about you. How do
                  you think this affects the outcome, if at all?</em></label>
              <textarea name="" id="field5" rows="4"></textarea>

              <label class="margin-top-15" for="field5"><em>How does this relate to your classroom?</em></label>
              <textarea name="" id="field5" rows="4"></textarea>

              <p class="margin-top-15">Consider what steps you can take to increase your empathy toward your
                  students, and create a welcoming classroom environment.</p>
            
            </div>
            </div>
      </div>
    </div>

<p class="margin-top-15">Once finished, <a href=""  routerLink="/sectionOneReferences" routerLinkActive="active">proceed to the next page.</a></p>