<h2>Initial Thoughts</h2>

<p class="margin-top-20">To begin, take a moment to answer these questions in your own words.</p>
<br>

<div class="row">
  <div class="col-sm-12 col-md-8">

    <label class="" for="sectionTwoThoughtsOne"><em>What do you hope to gain from this lesson related to intercultural sensitivity?</em></label>
    <textarea name="" id="sectionTwoThoughtsOne" rows="4"></textarea>
    
    <label class="margin-top-15" for="sectionTwoThoughtsTwo"><em>In your own words, what is intercultural sensitivity? </em></label>
    <textarea name="" id="sectionTwoThoughtsTwo" rows="4"></textarea>
    
    <label class="margin-top-15" for="sectionTwoThoughtsThree"><em>How does intercultural sensitivity relate to empathy?</em></label>
    <textarea name="" id="sectionTwoThoughtsThree" rows="4"></textarea>
        
  </div>
</div>

<p class="margin-top-15">When finished <a href="" routerLink="/sectionThreePerspectives" routerLinkActive="active">proceed to the next section.</a></p>
