<h2>References</h2>

<p class="margin-top-20"><strong> To cite this lesson, please use the following:</strong><p>

<p>Carapia, Maureen. (2020). Lesson three: Empathy through cultural interactions. [website]<p>

<p>Bennett, M. J. (2013). Basic concepts of intercultural communication: Paradigms, 
     principles, & practices (2nd Edition). Intercultural Press.</p>

<a class="inline-block margin-top-15" routerLink="/sectionThreeWrapUp" routerLinkActive="active">Please proceed to the next section.</a>
