<h2>Introduction</h2>

<p>We have all heard about empathy. We know it’s generally a good thing. We know
it’s related to connecting with others, and knowing how to help them. More
specifically as ESL instructors, we know that empathy is important to better
understand our students, who likely have different cultural norms and
backgrounds from our own.</p>

<p>But do we all define empathy in the same way? Does your concept of empathy
differ from mine? Moreover, how can we understand and measure how empathic
we really are?</p>

<p>This lesson will provide an overview of empathy as a concept, discussing the
various ways it can be described, and honing in on a definition. The lesson will
then turn to you, and provide an activity that will test your empathy and identify
ways to increase it over time.</p>

<p>The lesson intends to answer the following questions:</p>

<em>What exactly is empathy?</em>
<br><br>

<em>How does empathy relate to my classroom?</em>
<br><br>

<em>Is empathy a trait or a skill?</em>
<br><br>

<em>How empathic am I, and how can I increase my empathy?</em>
<br><br>

<p>If you’re ready to start, let’s dive in! <a routerLink="/sectionOneThoughts" routerLinkActive="active">Proceed to the next section.</a></p>

<div id="introOneModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        <h3 class="modal-title text-center">Lesson 1: Empathy Through Self-Awareness </h3>
       
      </div>
      <div class="modal-body">
        <p>This module explores empathy as a concept and uses it to describe an
          individual’s personal values and views, thus connecting the concept to self-
          awareness and assisting with empathizing with students in a classroom.
          (Estimated completion time: 1 hour)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>