<h2>Perspective and Resources</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson3_globeontable.jpeg" alt="">
</div>

<p class="margin-top-20"><em>What is intercultural sensitivity?</em></p>

<p>The previous two lessons focused on the concept of empathy, and its connection to you as an ESL instructor. 
They also demonstrated, through a language shock activity, the role of perspective taking and how it can be
used to improve empathy as an ever-developing skill.</p>

<p>This lesson discusses empathy in the context of intercultural communication. Specifically, it will describe 
intercultural sensitivity. What exactly does it mean to possess intercultural sensitivity? How does that look
in your classroom?</p>

<p>For the answer, we return to the work of Dr. Milton Bennett, a researcher and intercultural specialist. 
According to Bennett, intercultural sensitivity is the ability to distinguish cultural differences, and to
experience them in cross-cultural communication. Intercultural sensitivity is the knowledge, while intercultural 
competence is the ability to demonstrate that sensitivity.</p> 

<p>For instance, a person who enters a new cultural space might learn about the way to greet people in that culture, 
which will build their intercultural sensitivity. When they actually greet someone in that culturally appropriate
way, they demonstrate intercultural competence.</p> 

<p>As a person’s categories of cultural differences become more complex, the level of intercultural sensitivity
increases. To use one metaphor, a wine connoisseur distinguishes among many varietals of wine, while a less 
experienced drinker can only tell red from white. Similarly, a person with high intercultural sensitivity 
knows more subtle differences in a culture’s communication style, while a less sensitive individual may only
note the differences in food or language.</p>

<p>Let’s see how this looks in practice. The following page will present an activity that will explore the concept 
of intercultural sensitivity in a dynamic way.</p> 

<a class="inline-block margin-top-15" routerLink="/sectionThreeVideo" routerLinkActive="active">Proceed to the next page.</a>
