<h2>Wrap Up</h2>

<p class="margin-top-20">This lesson has introduced the Developmental Model of Intercultural Sensitivity; defined the terms 
ethnocentric and ethnorelative; and related the terms to empathy in a manner most relevant to you as an 
ESL instructor. With this knowledge, you will hopefully feel more prepared to work with your students as
a more empathic teacher, which will ultimately change your classroom environment for the better. </p>

<p>Take a look back at your initial responses to the first questions. After having completed this lesson, 
have these responses changed at all? If so, which parts and aspects of the answers would you change?</p>


<br>
<div class="row">
  <div class="col-sm-12 col-md-8">
    <label class="" for="sectionTwoWrapOne"><em>In your own words, what does it mean to be ethnocentric?
       If you’ve never heard this term before, what might it be given the name?</em></label>
    <textarea name="" id="sectionTwoWrapOne" rows="4"></textarea>
    <label class="margin-top-15" for="sectionTwoWrapTwo"><em>In your own words, what does it mean to be ethnorelative?
       If you’ve never heard this term before, what might it be given the name?</em></label>
    <textarea name="" id="sectionTwoWrapTwo" rows="4"></textarea>
    <label class="margin-top-15" for="sectionTwoWrapFour"><em>What does this have to do with empathy?</em></label>
    <textarea name="" id="sectionTwoWrapFour" rows="4"></textarea>  
  </div>
</div>
