<h2>Video: Cultural Interaction*</h2>

<p>For the next few minutes, you will watch a video as an observer watching two people from two cultures 
interact: Mawans and Lilos. The two people are meeting for the first time at a social event. Watch what happens.
Notice how the two cultures act around each other, and make note of any differences you see regarding their
methods of communicating.</p>

<p>When you are ready, begin the video and take notes on the interaction as best you can for the video’s duration.</p>

<p>Are you ready? Let’s begin! Start the video.</p>

<div class="margin-top-15 text-center padding-15">
  <iframe src="https://player.vimeo.com/video/410864295" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <p><a href="https://vimeo.com/410864295">Teaching With Empathy Lesson Three: Cultural Interaction</a> from <a href="https://vimeo.com/user113598083">Maureen Carapia</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<p class="margin-top-15">* Adapted from an activity by Peace Corps, <em>Looking at Ourselves and Others</em>, Peace Corps, 1997</p>

<p class="top-margin-15" routerLink="/sectionThreeVideoDebrief" routerLinkActive="active">When finished with the video, <a>proceed to the next page.</a></p>
