<h2>Wrap Up</h2>

<p class="margin-top-20">We hope that this lesson has clarified empathy a bit more, and demonstrated its
relation to you and your classroom.</p>

<p>Take a look back at your initial responses to the first questions. After having
completed this lesson, have these responses changed at all? If so, which parts
and aspects of the answers would you change?</p>
<br>

<div class="row">
  <div class="col-sm-12 col-md-8">
    <label class="" for="sectionOneWrap1"><em>What do you hope to gain from this lesson related to empathy? What <strong><u>have</u></strong> you
        gained from this lesson?</em></label>
    <textarea name="" id="sectionOneWrap1" rows="4"></textarea>
      
    <label class="margin-top-15" for="sectionOneWrap2"><em>What exactly is empathy?</em></label>
    <textarea name="" id="sectionOneWrap2" rows="4"></textarea>
      
    <label class="margin-top-15" for="sectionOneWrap3"><em>Is empathy a trait or a skill?</em></label>
    <textarea name="" id="sectionOneWrap3" rows="4"></textarea>
      
    <label class="margin-top-15" for="sectionOneWrap4"><em>How does empathy relate to my classroom?</em></label>
    <textarea name="" id="sectionOneWrap4" rows="4"></textarea>
      
    <label class="margin-top-15" for="sectionOneWrap5"><em>How empathic am I, and how can I increase my empathy?</em></label>
    <textarea name="" id="sectionOneWrap5" rows="4"></textarea>
  </div>
</div>