<h2>Perspective and Resources</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson1_mtnsclouds.jpeg" alt="">
</div>

<em>What exactly is empathy?</em>
<br><br>
<p>The word “empathy” has lacked a precise definition since its origins. Empathy
translates from Ancient Greek into two terms: empatheia (“physical affection”)
and pathos (“passion” or “suffering”). The word first entered the English language
as an incomplete translation of the German word Einfühlung (“to feel into”), which
appeared in a doctoral thesis in 1873. The word was adapted to “empathy” by
psychologist Edward Tichener in 1909. This history does little to clarify the term.</p>

<p>Take a look at the statements below. <strong>Based on your understanding of the
concept, which of the statements defines empathy?</strong><p>

<p>“Feeling what another person is feeling from their perspective.”</p>

<p>“Putting yourself in another person’s shoes.”</p>

<p>“Feeling another person’s pain.”</p>

<p>“Knowing the thoughts and feelings of another person.”</p>

<p>“Understanding and sharing the feelings of another person.”</p>

<p>“Awareness of the emotions of other people.”</p>

<p>“Understanding in a compassionate way.”</p>

<div class="margin-top-15">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#sectionOnePerspectiveAnswer">Click to display the answer</button>
  <div id="sectionOnePerspectiveAnswer" class="collapse margin-top-15">
      <p>The answer is: <strong><u>all of these statements</u></strong> can describe empathy… depending on
      who you ask!</p>
      
      <p>Empathy has been investigated in multiple fields, to include psychology,
      business, medicine, law, and education. It is described differently from field to
      field, and even within a particular area. Some researchers have gone so far as to
      divide the word empathy into <strong>eight</strong> distinct uses.</p>
      
      <p>The definitions of empathy range from cognitive (knowing how another person
      thinks and feels) to emotional (feeling the way another feels), distressing (feeling
      distress upon observing another’s suffering), to compassionate (feeling for
      another’s suffering), and a number of areas in between.</p>
  </div>
</div>

<p class="margin-top-15"><a routerLink="/sectionOneFactors" routerLinkActive="active">Proceed to the next page.</a></p>
