/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label {
  font-weight: 500;
}
strong {
  font-weight: 600;
}

textarea {
  width: 100%;
  resize: none;
}

.side-nav-ul {
  padding: 0;
  list-style: none;
}

.side-nav-ul li {
  padding-bottom: 5px;
}

.main-content-container {
  min-height: 100vh;
  border: 1px solid #efecea;
}

.factors-list-container {
  display: flex;
}
.factors-list {
  border: 1px solid #7e7fbf;
  background-color: #b9b9f0;
  margin: 5px;
}

.factors-list h4 {
  text-align: center;
}

.final-thoughts-one {
  background-color: #edca8a;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.final-thoughts-two {
  background-color: #e4acf2;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.final-thoughts-three {
  background-color: #d5dce6;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.final-thoughts-four {
  background-color: #aef2d5;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/*Utilities */
.border-grey {
  border: 1px solid grey;
}
.fill-light-grey {
  background: lightgrey;
}
.inline-block {
  display: inline-block !important;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-40 {
  margin-left: 40px;
}
.red {
  color: red;
}
.text-center {
  text-align: center
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.aligned-row {
  display: flex;
  flex-flow: row wrap;
}
.aligned-row::before {
  display: block;
}

