<h2>References</h2>

<p><strong>To cite this lesson, please use the following:</strong></p>

<p>Carapia, Maureen. (2020). Lesson four: Empathy through ethnorelativism. [website]</p>

<p>Batson, C. D. (2009). These things called empathy: Eight related but distinct 
phenomena. In J. Decety and W. Ickes (Eds.), Social neuroscience. The social neuroscience of empathy 
(pp. 3-15). MIT Press. <a href="https://doi.org/10.7551/mitpress/9780262012973.003.0002" target="_blank">https://doi.org/10.7551/mitpress/9780262012973.003.0002</a></p>

<p>Bennett, M. J. (2013). Basic concepts of intercultural communication: Paradigms, 
  principles, & practices (2nd Edition). Intercultural Press.</p>

<a class="inline-block margin-top-15" href="" routerLink="/sectionFourWrapUp" routerLinkActive="active">
  Please proceed to the next page.</a>