<h2>Empathy in the Classroom</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson1_fernsunset.jpeg" alt="">
</div>

<em class="inline-block margin-top-20">Is empathy a trait or a skill?</em>

<p class="margin-top-15">Some might consider empathy as a character trait—something a person innately
possesses. Others may think it is more of a skill you can develop and improve.
Which is it?</p>

<p>According to research, both are correct. Some people are intuitively better at
sensing another person’s emotions than others. At the same time, people can
always improve upon their ability to empathize with others; in that way, it is
treated as a vital skill for improving interpersonal relations, as well as
understanding people who are different from us.</p>

<em class="inline-block margin-top-20">How does empathy relate to my classroom?</em>

<p class="margin-top-15">Empathy is increasingly recognized as the key to successfully relating to others.
Its prevalence in literature and research has grown steadily over time. Indeed,
the number of journal articles as well as Google searches on empathy has
increased dramatically in recent years.</p>

<p>In the context of education specifically, studies support the merit of empathy as a
required skill for teachers to better understand the needs of their students, and
to promote positive outcomes in the classroom.</p>

<p>As much as educators must know how to deliver curriculum to students, they
must likewise possess the interpersonal skills needed to gain diverse perspective
and better facilitate their students’ success. This is especially necessary with
English Language Learners (ELLs).</p>

<p>Why? In large part, because many of your students will possess a cultural
background different from your own. According to the Department of Education
(2016), students of color are projected to comprise 56 percent of the student K-
12 population by the year 2024, yet the most recent data showed that 82 percent
of public school teachers identified as white. Similar statistics on adult ESL
instructors mirror these demographics.</p>

<p>Inevitably, many teachers come from different communities and experiences than
their students; arguably, this places greater importance on preparing teachers for
these differences and connecting with diverse students to ensure equitable
learning opportunities (McAllister &amp; Irvine, 2002).</p>

<p>ESL instructors with empathy prove effective in improving intercultural sensitivity
toward their students. It is also important to note that you do not need to share
the exact same experiences as another in order to achieve empathy. Empathy is
a way to understand another person by learning their point of view.</p>

<a class="inline-block margin-top-20" href="" routerLink="/sectionOneQuiz" routerLinkActive="active">Proceed to the next page.</a>