<h2>Video Debrief</h2>

<div class="padding-left-15 margin-top-15 margin-bottom-15">
  <img style="max-height: 300px" src="../../../assets/images/Lesson3_shakinghandsbz.jpeg" alt="">
</div>

<p class="margin-top-15">Now, take a moment to share your thoughts on the cultural interaction, noting the differences
  between the two cultures as well as your own thoughts during the activity.</p>

<div class="row margin-top-15">
      <div class="col-sm-5 no-padding-right">
        <div class="text-center border-grey fill-light-grey padding-5"><h4>MAWAN</h4></div>
        <div class="padding-10 border-grey">
          <p>What adjectives would you use to describe this lesson</p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 no-padding-left">
        <div class="text-center border-grey fill-light-grey padding-5"><h4>LILO</h4></div>
        <div class="padding-10 border-grey">
            <p>What adjectives would you use to describe this lesson</p>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
      </div>
      <div class="col-sm-10">
          <div class="padding-10 border-grey">
              <p>What are the biggest cultural differences between the Mawan and the Lilo? </p>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
      </div>
      <div class="col-sm-10">
          <div class="padding-10 border-grey">
              <p>What were you thinking throughout this cultural observation? </p>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
      </div>
</div>
<br>

<p class="margin-top-20">In case you were interested in fact-checking the cultural norms of the Mawans and the Lilos, 
  here they are below</p>

<div class="row margin-top-15">
  <div class="col-sm-5 no-padding-right">
    <div class="text-center border-grey fill-light-grey padding-5"><h4>MAWAN</h4></div>
    <div class="padding-10 border-grey">
      <p>What are key aspects of this culture?</p>
      <ul>
        <li>Mawans avoid direct eye contact when speaking to someone of the opposite gender</li>
        <li>Mawans do not like their heads to be touched</li>
        <li>Mawans enjoy smiling while talking, but not laughing, as that is considered rude</li>
        <li>•	Mawans only speak when spoken to; they do not initiate conversation</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-5 no-padding-left">
    <div class="text-center border-grey fill-light-grey padding-5"><h4>LILO</h4></div>
    <div class="padding-10 border-grey">
      <p>What are key aspects of this culture?</p>
      <ul>
        <li>Lilos do not believe in behavior difference between genders. Men and women act the same way</li>
        <li>Lilos always greet someone by smiling and placing their hand on the person’s head</li>
        <li>Lilos look people in the eye when speaking to them</li>
        <li>Lilos often tell jokes and love to laugh</li>
      </ul>
    </div>
  </div>
</div>

<p class="margin-top-20">Were these the same cultural norms you saw in your observations?</p>

<p class="margin-top-20"><em>How does intercultural sensitivity relate to empathy?</em></p>

<p>You just watched a video on cultural interactions and wrote out your thoughts about the activity. 
The final question is: how might this activity relate to empathy?</p>

<p>To answer this question, it may be helpful to reflect on a few additional questions related to this cultural
simulation:</p>

<ul>
  <li>Looking back at your answers to the earlier questions, did you report the different cultures in positive, negative, or neutral terms?</li>
  <li>Do you think it is difficult for people to describe behaviors of other groups in objective, nonjudgmental terms?</li>
  <li>Do people ever question the cultural norms given to them?</li>
</ul>

<p>These questions may conjure the idea of stepping outside of your mindset, and experience cultural differences
from a different point of view. Once you do that, you may begin to see differences as more relative, rather
than good or bad.</p> 

<p>This is what connects empathy with intercultural sensitivity. In order to possess sensitivity toward other 
cultures, a person needs to first try to understand a different perspective and participate in the experience
of another—the very definition of empathy.</p>

<a href="" class="inline-block margin-top-15" routerLink="/sectionThreeReferences" routerLinkActive="active"> Proceed to the next page</a>