<h2>DMIS</h2>

<p class="margin-top-20">The DMIS is a way to describe how a person becomes more interculturally aware and sensitive. It describes a 
six-step framework on ways people react to cultural differences, from the least culturally aware to most. 
The first three steps are called ethnocentric: they consider a person’s own culture central to reality. 
The last three steps are considered ethnorelative: they place a person’s own culture as relative to others. </p>

<p class="margin-top-15">The six steps are:</p>

<p><strong>Denial</strong>: feeling that a person’s own culture is the only one that exists. Disinterest in cultural differences, 
  or attempts to avoid differences entirely. </p>
    <p class="margin-left-40">Example of Denial: An American who travels abroad seeks out only other Americans to talk to.</p>
    <p class="margin-left-40">Example of Denial: inability to tell the difference between Chinese and Japanese cultures, or Mexican 
    and Argentine cultures.</p>

<p><strong>Defense</strong>: feeling that a person’s own culture is the only good way to live. Stereotypical understanding of 
  cultural differences, and an organization of the world as “us and them.”</p>
  <p class="margin-left-40">Example of Defense: Indigenous groups forced to learn the language of their colonizers</p> 
	<p class="margin-left-40">Example of Defense: “It’s my way or the highway.”</p>

<p><strong>Minimization</strong>: state in which elements of a cultural worldview are considered to be universal. Cultural elements 
are subordinated and aligned with the dominant culture, and the differences among them are not recognized.</p>
  
  <p class="margin-left-40">Example of Defense: “We are all children of God.”</p>
	<p class="margin-left-40">Example of Defense: A Bangladeshi working in Canada eats a chocolate 
	ice cream cone during lunch, and her coworker exclaims, “That’s my 
	favorite flavor! We’re exactly the same person!”</p>
	
<p><strong>Acceptance</strong>: understanding that a person’s own culture is relative to other cultures.
   Ability to distinguish cultural differences in a variety of interactions.</p>
	<p class="margin-left-40">Example of Acceptance: A person in the U.S. moves into a predominantly 
	Eritrean neighborhood, and inquires about the culture and language when 
	introducing himself to neighbors.</p>
	<p class="margin-left-40">Example of Acceptance: “Preservation of one’s own culture does not 
	require contempt or disrespect for other cultures.” –Cesar Chavez</p>

<p><strong>Adaptation</strong>: state in which a person experiencing another culture behaves appropriately to 
  that culture. NOT assimilation, but rather an extension of a person’s cultural norms and beliefs while
   retaining primary cultural identity.</p>
	<p class="margin-left-40">Example of Adaptation: “To help this student, I need to change my 
	approach.”</p>
	<p class="margin-left-40">Example of Adaptation: “I’m able to see the world through different eyes.”</p>

<p><strong>Integration</strong>: state in which a person’s culture expands to various cultural worldviews.</p> 
	<p class="margin-left-40">Example of Integration: “I feel most comfortable when bridging cultural 
	differences that I understand.”</p>

<p>There are different issues to resolve at each stage of the DMIS. However, the key to moving from an 
ethnocentric stage (Denial, Defense, or Minimization) to an ethnorelative stage (Acceptance, Adaptation, or Integration)
is <strong>cultural self-awareness</strong>. Once a person understands that their views, beliefs and values are at least part of a
context, they can begin to imagine alternative cultures to their own.</p>

<p class="margin-top-20">Below is an illustrated way of interpreting this:</p>

<div class="container-fluid margin-top-15">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <img class="img-responsive" src="../../../assets/images/dmi-1.jpg" alt="DMIS">
    </div>
  </div>
</div>

<p class="margin-top-20"><strong>Denial</strong>: I don’t consider that cultural differences exist at all.</p>
<p><strong>Defense</strong>: I defend my home culture because I lose my bearings otherwise.</p>
<p><strong>Minimization</strong>: I minimize differences and focus on what brings me similar to others.</p>
<p><strong>Acceptance</strong>: I am aware of diverse cultural perceptions.</p>
<p><strong>Adaptation</strong>: I adapt my reasoning and actions to my new culture.</p>
<p><strong>Integration</strong>: I develop a feeling of membership in my new culture.</p>

<a class="inline-block margin-top-15" routerLink="/sectionFourActivity" routerLinkActive="active">Please proceed to the next page.</a>