<h1 class="text-center">Teaching with Empathy</h1>

<h3 class="text-center">A Training Program for Adult ESL Instructors</h3>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 no-padding-left no-padding-right">
      <div class="home-section-one">
        <h5 class="text-center">Lesson One: Empathy Through Self-Awareness</h5>
        <img class="img-responsive padding-10 home-img" src="../../assets/images/Lesson1_heartonbeach.jpeg" alt="">
      </div>
    </div>
    <div class="col-sm-6 no-padding-left no-padding-right">
      <div class="home-section-two">
        <h5 class="text-center">Lesson Two: Empathy Through Perspective Taking</h5>
        <img class="img-responsive padding-10 home-img" src="../../assets/images/Lesson2_perspectivelens.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 no-padding-left no-padding-right">
      <div class="home-section-three">
        <h5 class="text-center">Lesson Three: Empathy Through Cultural Interactions</h5>
        <img class="img-responsive padding-10 home-img" src="../../assets/images/Lesson3_NepaleseManHat.jpeg" alt="">
      </div>
    </div>
    <div class="col-sm-6 no-padding-left no-padding-right">
      <div class="home-section-four">
        <h5 class="text-center">Lesson Four: Empathy Through Ethnorelativism</h5>
        <img class="img-responsive padding-10 home-img" src="../../assets/images/Lesson4_twowomentalking.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 no-padding-left no-padding-right">
      <div class="home-section-five padding-10">
        <h5 class="text-center">FOR PROGRAM DIRECTOR:</h5>
        <h5 class="text-center">Final Thoughts, Creating a Culture of Empathy in Your School</h5>
      </div>
    </div>
  </div>
</div>